<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="adminLevel in vm.adminLevels">
			<td>{{$index + 1}}</td>
			<td>{{adminLevel.name}}</td>
			<td>
				<a ui-sref="app.admin-level-details({id: adminLevel.id})">Edit</a>
				<span> &nbsp;|&nbsp;</span>
				<a href="" ng-click="vm.destroy(adminLevel)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>