<div>
	<form>
	<div>
		<label>Name</label>
		<input type="text" ng-model="vm.adminLevel.name" />
	</div>
		<div>
		<label>Description</label>
		<input type="text" ng-model="vm.adminLevel.description" />
	</div>
<div>
	<button ng-click="vm.save()">Save</button>
</div>
	</form>
</div>