<!DOCTYPE html>
<html>
<head>
  <title>Classmaster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style>    
    html {
      min-height: 100%;
      position: relative;
    }
    body {
      margin-bottom: 60px;
    }
    body > .container {
      padding: 30px 15px 0;
    }
    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #f5f5f5;
    }    
    .footer-block { margin: 20px 0; }
    #footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  </style>
</head>
<body ng-app="app">
	<%= yield %>
</body>
</html>
